.MenuBar {
    background-color: grey;
    height: 25px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 20px;
    box-sizing: border-box;
}

.MenuBar nav {
    height: 50%;

}