/* Pendiente creacion de css para los elementos input que se vayan a usar

En funcion del tipo de boton clasificado aqui la aplicacion reconocera el tipo de boton que es


.Save
.Clear
.Cancel

*/

.Input {
    margin-bottom: 16px;
    display: block;
}

.InputHidden {
    display: none;
}

.InputLabelText {
    display: block;
    margin-bottom: 4px;
}

.Input input {
    display: block;
}

.Input input[type=checkbox] {
    display: inline-block;
    width: auto;
    margin-right: 8px;
}

.InputLabelCheckbox {
    display: inline-block;
}

.Input.InputWithErrors input {
    border-color: #b71c1c;
}

.IncorrectValues {
    font-size: 14px;
    color: #b71c1c;
    display: inline-block;
    margin-top: 4px;
}