/* CSS Reset (https://alligator.io/css/minimal-css-reset/) */
html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;

  /* https://devhints.io/css-system-font-stack */
  font-family: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

/*
 * Global form styles
 */

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

form {
  max-width: 600px;
  margin-bottom: 32px;
}

label {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
}

input, select {
  margin: 0;
  padding: 8px 8px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}